:root {
  --color-primary: #ef4444;
  --color-text: #3f4559;
  --color-text-light: #5a5f70;
  --color-background: #f4f4f4;
}

/* Reset & Base */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  min-height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

/* Aside */
aside {
  display: none;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* Main */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4em;
  padding-top: 4em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3.4em;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1.9rem;
      color: var(--color-text);
      margin-bottom: 0.6em;
    }

    p {
      font-size: 1rem;

      a {
        font-weight: 700;
        color: var(--color-primary);
      }
    }
  }

  fieldset {
    appearance: none;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.4em;

    .form-field {
      display: flex;
      flex-direction: column;
      gap: 0.8em;

      label {
        font-size: 0.9rem;
        font-weight: 600;
      }

      .input-container {
        display: flex;
        align-items: center;
        gap: 0.5em;
        border-bottom: 2px solid var(--color-text-light);
        padding-bottom: 0.4em;
        transition: all 0.3s ease;

        &:focus-within {
          border-bottom-color: var(--color-primary);
        }

        input {
          flex: 1;
          border: none;
          outline: none;
        }

        button {
          appearance: none;
          border: none;
          background-color: transparent;
          transition: all 0.1s ease;

          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .submit-button {
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: var(--color-primary);
    border-radius: 2em;
    padding: 0.9em;
    box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.25);
  }
}

/* Logo */
.mobile-logo {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .content {
    width: 75%;
    min-height: auto;
    max-height: 85vh;
    border-radius: 8px;
  }

  aside {
    display: block;
    position: relative;
    flex: 3;

    .logo {
      position: absolute;
      top: 1.4em;
      left: 1.4em;
    }
  }

  main {
    padding-top: 0;
    padding: 4em;
    flex: 2;
  }

  form {
    fieldset {
      gap: 2em;
    }
  }

  .mobile-logo {
    display: none;
  }
}
